<!DOCTYPE html>
<html>
  <head>
    <title>RailsDeviseDefaultApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%# webpacker を使用していないため、不要なものを削除 %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# deviseを使ったログインができているかを確認しやすくするため、追加 %>
    <% if current_user.present? %>
      <p>Current user: <%= current_user.email %></p>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%# 追加ここまで %>

    <%= yield %>
  </body>
</html>
